.mac-book-pro1611-mac-book-pro161 {
  width: 100%;
  height: 10810px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-text {
  top: 1185px;
  left: 213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0px;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  padding-right: 0px;
  text-decoration: none;
}
.mac-book-pro1611-text002 {
  top: 1262px;
  left: 213px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  margin: 0px;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  padding-right: 0px;
  text-decoration: none;
}
.mac-book-pro1611-text011 {
  top: 1497px;
  left: 214px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  margin: 0px;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  padding-right: 0px;
  text-decoration: none;
}
.mac-book-pro1611-education1 {
  top: 1222px;
  left: 1106px;
  width: 111px;
  height: 111px;
  margin: 0px;
  position: absolute;
  padding-right: 0px;
}
.mac-book-pro1611-text018 {
  top: 1420px;
  left: 214px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0px;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  padding-right: 0px;
  text-decoration: none;
}
.mac-book-pro1611-solutions1 {
  top: 1445px;
  left: 1106px;
  width: 111px;
  height: 111px;
  margin: 0px;
  position: absolute;
  padding-right: 0px;
}
.mac-book-pro1611-johntowner-jg-oe-ru-gdy4unsplash1 {
  top: -23px;
  left: 0px;
  right: 0px;
  width: 1728px;
  height: 1660px;
  margin: auto;
  position: absolute;
}
.mac-book-pro1611-text020 {
  top: 451px;
  left: 144px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 46px;
  font-style: Black;
  text-align: left;
  font-family: Satoshi;
  font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text022 {
  top: 535px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  width: 491px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text027 {
  top: 2016px;
  left: 619px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: left;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text029 {
  top: 1718px;
  left: 179px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text031 {
  top: 1779px;
  left: 182px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text036 {
  top: 1718px;
  left: 558px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text038 {
  top: 1718px;
  left: 986px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text040 {
  top: 1779px;
  left: 562px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text045 {
  top: 1779px;
  left: 990px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-happycampermockup111 {
  top: 269px;
  left: 1006px;
  width: 259px;
  height: 527px;
  position: absolute;
}
.mac-book-pro1611-screenshot202305111714161 {
  top: 2167px;
  left: 149px;
  width: 1253px;
  height: 90px;
  position: absolute;
}
.mac-book-pro1611-text052 {
  top: 2258px;
  left: 136px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text054 {
  top: 2261px;
  left: 453px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text056 {
  top: 2258px;
  left: 738px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text058 {
  top: 2256px;
  left: 998px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text060 {
  top: 2258px;
  left: 1324px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text062 {
  top: 2548px;
  left: 242px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-empathy1 {
  top: 2581px;
  left: 1045px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.mac-book-pro1611-text064 {
  top: 2625px;
  left: 242px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text083 {
  top: 4015px;
  left: 242px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text085 {
  top: 4092px;
  left: 242px;
  color: rgba(107, 107, 107, 1);
  width: 671px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-target1 {
  top: 4033px;
  left: 1049px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.mac-book-pro1611-text094 {
  top: 5514px;
  left: 241px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text096 {
  top: 5591px;
  left: 241px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-i-phone1414 {
  top: 5967px;
  left: 873px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-rectangle32 {
  top: 384px;
  left: 39px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle27 {
  top: 759px;
  left: -11px;
  width: 409px;
  height: 85px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle19 {
  top: 118px;
  left: 39px;
  width: 320px;
  height: 77px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle35 {
  top: 220px;
  left: 39px;
  width: 134px;
  height: 10px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle17 {
  top: 23px;
  left: 265px;
  width: 104px;
  height: 42px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-group4 {
  top: 27px;
  left: 28px;
  width: 63px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1611-line1 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line2 {
  top: 14px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line3 {
  top: 28px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line8 {
  top: 24px;
  left: 266px;
  width: 111px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line9 {
  top: 65px;
  left: 265px;
  width: 112px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line12 {
  top: 384px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line13 {
  top: 452px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle36 {
  top: 275px;
  left: 39px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-line14 {
  top: 275px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line15 {
  top: 342px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle37 {
  top: 493px;
  left: 39px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-line16 {
  top: 493px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line17 {
  top: 561px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle38 {
  top: 602px;
  left: 39px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-line18 {
  top: 602px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line19 {
  top: 668px;
  left: 39px;
  width: 327px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle30 {
  top: 776px;
  left: 24px;
  width: 62px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle39 {
  top: 776px;
  left: 210px;
  width: 62px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle33 {
  top: 776px;
  left: 303px;
  width: 62px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle34 {
  top: 776px;
  left: 117px;
  width: 62px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-text103 {
  top: 5893px;
  left: 986px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-container {
  top: 5967px;
  left: 262px;
  width: 345px;
  height: 746px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mac-book-pro1611-container1 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mac-book-pro1611-i-phone1410 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-rectangle5 {
  top: 589px;
  left: 51px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle6 {
  top: 589px;
  left: 159px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle7 {
  top: 589px;
  left: 267px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle361 {
  top: 719px;
  left: 142px;
  width: 104px;
  height: 58px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle331 {
  top: 259px;
  left: 34px;
  width: 320px;
  height: 68px;
  position: absolute;
}
.mac-book-pro1611-rectangle371 {
  top: 360px;
  left: 34px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-rectangle381 {
  top: 461px;
  left: 34px;
  width: 320px;
  height: 68px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-group1 {
  top: 27px;
  left: 27px;
  width: 63px;
  height: 28px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1611-line11 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line21 {
  top: 14px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line31 {
  top: 28px;
  left: 0px;
  width: 63px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle171 {
  top: 23px;
  left: 265px;
  width: 104px;
  height: 42px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-line81 {
  top: 24px;
  left: 266px;
  width: 111px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line91 {
  top: 65px;
  left: 265px;
  width: 112px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-rectangle391 {
  top: 110px;
  left: 150px;
  width: 89px;
  height: 89px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro1611-line10 {
  top: 112.11865234375px;
  left: 150.855712890625px;
  width: 124px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-line11 {
  top: 199px;
  left: 150px;
  width: 124px;
  height: 1px;
  position: absolute;
}
.mac-book-pro1611-text105 {
  top: 5892px;
  left: 351px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-idea1 {
  top: 5536px;
  left: 1051px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.mac-book-pro1611-rectangle40 {
  top: 2462px;
  left: 90px;
  width: 1335px;
  height: 1277px;
  position: absolute;
}
.mac-book-pro1611-rectangle41 {
  top: 3906px;
  left: 76px;
  width: 1353px;
  height: 1346px;
  position: absolute;
}
.mac-book-pro1611-rectangle42 {
  top: 5427px;
  left: 80px;
  width: 1350px;
  height: 1468px;
  position: absolute;
}
.mac-book-pro1611-text107 {
  top: 7125px;
  left: 234px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text109 {
  top: 7202px;
  left: 234px;
  color: rgba(107, 107, 107, 1);
  width: 671px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-rectangle43 {
  top: 7050px;
  left: 80px;
  width: 1352px;
  height: 1259px;
  position: absolute;
}
.mac-book-pro1611-prototype1 {
  top: 7133px;
  left: 1051px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.mac-book-pro1611-image1 {
  top: 4332px;
  left: 264px;
  width: 823px;
  height: 624px;
  position: absolute;
}
.mac-book-pro1611-the-kamp-frame11 {
  top: 2892px;
  left: 210px;
  width: 957px;
  height: 695px;
  position: absolute;
}
.mac-book-pro1611-i-phone14171 {
  top: 7500px;
  left: 164px;
  width: 293px;
  height: 633px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.mac-book-pro1611-i-phone14211 {
  top: 7500px;
  left: 592px;
  width: 293px;
  height: 633px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.mac-book-pro1611-i-phone14151 {
  top: 7497px;
  left: 1030px;
  width: 293px;
  height: 633px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.mac-book-pro1611-rectangle44 {
  left: 79px;
  width: 1366px;
  bottom: 1057px;
  height: 1261px;
  position: absolute;
}
.mac-book-pro1611-text111 {
  top: 8584px;
  left: 218px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text113 {
  top: 8661px;
  left: 218px;
  color: rgba(107, 107, 107, 1);
  width: 671px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-document1 {
  top: 8592px;
  left: 1035px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.mac-book-pro1611-text115 {
  top: 7413px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text117 {
  top: 7419px;
  left: 1097px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text119 {
  top: 7416px;
  left: 607px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text121 {
  top: 8914px;
  left: 652px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-i-phone14152 {
  left: 604px;
  width: 293px;
  bottom: 1162px;
  height: 633px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.mac-book-pro1611-screenshot202306031808321 {
  left: 63px;
  width: 1354px;
  bottom: 169px;
  height: 300px;
  position: absolute;
}

.mac-book-pro161-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
}
